API_ID=18232440
API_HASH=6e65ada395ebc5d243c6d2954992c932
BOT_TOKEN=7193597635:AAHoUogOHPT3OA4gZIwNDmhS4IqAleNh8XE
LOGGER_ID=-1002218369977
MONGO_DB_URI=mongodb+srv://meshoe3:meshoe3@cluster0.bvaskli.mongodb.net/?retryWrites=true&w=majority
OWNER_ID=5085942765
STRING_SESSION=BAGi8fAAdOlncLb57wkWUzf_MJxjJ236gkaY91vOJtUqBeJdMtJF510OCbCVkmIe4iYwOm3bunAS1TOnLwzwQCGPqC7M8rReaSxrgdPtGGrM8DzqPNsf_11Z2RdwgCn83sBfsnMZJtYLOut62aqrz2F4MSuHz3QTwp3gKWRmTb0w0wt7FVjrvnjC9NtXFLbu7diFY68xUbsG4chEBv3aaGNdOSZtn3ZAHgy8yxrQMsLz8oO3yK8RAG7qWEMxhkgLPYY6pvbo5EEHZ23RRGglMh2l9jIcVqhvv8RsM03AyUhn0l8ZWkBMAuN8p6v46LSRMnrufoSk_wmukmKqK8M2DJTx2h6CKAAAAAG8jJQbAA
