API_ID=18232440
API_HASH=6e65ada395ebc5d243c6d2954992c932
BOT_TOKEN=7158573065:AAHh8MkQALtre6HQjLTtjftwmKLEGFz_DJU
LOGGER_ID=-1002107910251
MONGO_DB_URI=mongodb+srv://meshoe3:meshoe3@cluster0.bvaskli.mongodb.net/?retryWrites=true&w=majority
OWNER_ID=5085942765
STRING_SESSION=BAGi8fAAQghCNNSf1p_CtMe80c7iO-shA-uATfBIJaoon8cBsdk9grHo_4usS84xqChh48fwzhAhaAd24ipPgnPl4givHv6GAk1tQ5B14I5H6TJz2E2pZPlF-vdR7eQVdKYFdbP-dHSlaGme4NFcYhtTLGt7HjVPAl_Qbjvtm2OPlIo-iWq2JV-cKqTBMCCsdp3y8yDQcgcKp2ryeSJDBnDK5yqkO8XmGmY75cnoltDFWjCwD_Z_EoLSVP0qEI_9RZ-yUyE4s9nxcD5C7y_XGHU6yLYx3O5w8jinApnK4t7uSjbVYdycsLyD8bKTeMgLDC0yIBkDj3THX7YfzH2M7MyQPQACXgAAAAGnNQZTAA
