API_ID=18232440
API_HASH=6e65ada395ebc5d243c6d2954992c932
BOT_TOKEN=7158573065:AAHh8MkQALtre6HQjLTtjftwmKLEGFz_DJU
LOGGER_ID=-1002107910251
MONGO_DB_URI=mongodb+srv://meshoe3:meshoe3@cluster0.bvaskli.mongodb.net/?retryWrites=true&w=majority
OWNER_ID=5085942765
STRING_SESSION=BAGi8fAAD1lNc0ZDruMZxFrdRd_rgpRj60b_XXOxpkJ1lzy97NZU1yODxtiFUh30TuXJgidx84zKZ9ll3V5qF67cZEeBD1KU5rL_DVdzqkL_StZwMY-vJ2fPnpJ0fjXFSkFxJ3OY7JenZOBJ9H6OP1GCwUSKjGR7XERSENBq5APEaKJ5J1YDJTFRWQPnhkdsARXfHoFMImq4_VfyDX_5d8xkOpH97uMWXhhVfQQbVHtwdTsZhBte1NDP9pzTBMzjQ2gPxyr81FphBt8NjC18-esjeScg0I2FHkCGxrW5FdIEFJzYFWav0w5I8lFTehvIg--J8Cixo2jkyMGVEl3cBhC9627cIgAAAAG8jJQbAA
